body{
	background-image:url('../img/bg.png');
	margin:0px;
	font-family: sans-serif;
	-webkit-transition: all 500ms ease-in;
	transition: all 500ms ease-in;
}
#paused{
	position:absolute;
	top:10%;
	display:none;
	left:30%;
	font-family: 'astonishedregular';
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 75px #fff;
}
#paused p{
	font-size:800%;
}
#paused .sub{
	position:absolute;
	font-size:300%;
	bottom:100px;
	left:20px
}
.blur{
	filter:blur(3px);
	-o-filter:blur(3px);
	-ms-filter:blur(3px);
	-moz-filter:blur(3px);
	-webkit-filter:blur(3px);
	-webkit-transition: all 500ms ease-in;
	transition: all 500ms ease-in;
}
#header{
	width:100%:
	position:absolute;
	top:0px;
	height:30px;
	background-color:grey;
}
#header .title{
	margin:5px 0 0 15px;
	font-size:160%;
	font-weight:bold;
}
canvas{
	margin:20px 0 0 15px;
}
.buttons{
	position:absolute;
	right:10px;
}

.Button {
	margin-top:2px;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:3px 8px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.Button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}
.Button:active {
	position:relative;
	top:1px;
}
.blue {
	-moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	-webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea));
	background:-moz-linear-gradient(top, #bddbfa 5%, #80b5ea100%);
	background:-webkit-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:-o-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:-ms-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea',GradientType=0);
	background-color:#bddbfa;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:3px 8px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.blue:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa));
	background:-moz-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:-webkit-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:-o-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:-ms-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa',GradientType=0);
	background-color:#80b5ea;
}
.blue:active {
	position:relative;
	top:1px;
}
.info{
	position:absolute;
	display:block;
	right:20px;
	top:20px;
}
.rightNote{
	left:320;
}

.info textarea{
	font-family:"Arial Black", Gadget, sans-serif;
	-webkit-transition: all 500ms ease-in;
	transition: all 500ms ease-in;
	padding:5px 0 0 5px;;
	border-radius:3px 0 0 3px;
	width:295px;
	color:rgba(0,0,0,0.8);
	height:195px;
	position:relative;
	border-color:grey;
	box-shadow: rgba(0,0,0, 0.5) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.5) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.5) 0px 0px 8px;
	-moz-box-shadow: inset 0 0 40em rgba(0,0,0,0.4);  
	-webkit-box-shadow: inset 0 0 40em rgba(0,0,0,0.4);   
	box-shadow: inset 0 0 10em rgba(0,0,0,0.4);
}
.outerText{
	text-align:right;
	width:295px;
	height:195px;
	overflow:hidden;
	position:relative;
	top:10px;
	right:40px;
}
.info textarea:focus{
}
.extraInfo{
	font-size:80%;
	opacity:0.7;
	display:none;
	color:#1A1A1A;
	padding-top:2px;
	text-align:right;
}
#modal{
	background-image:url('../img/modal.png');
	width:821px;
	height:387px;
	position:absolute;
	display:block;
	top:-400px;
	left:16%;
	z-index:11;
	-webkit-transition: all 500ms ease-in;
	transition: all 300ms ease-in;
}
#dimmer{
	width:100%;
	height:100%;
	opacity:0.2;
	background-color:black;
	display:none;
	position:absolute;
	top:0px;
	left:0px;
	z-index:10;
}
#blah{
	-moz-box-shadow: inset 0 0 40em #000;  
	-webkit-box-shadow: inset 0 0 40em #000;   
	box-shadow: inset 0 0 10em #000;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity:0.7;
	pointer-events:none;

}
#title{
	font-family: 'astonishedregular';
	text-shadow: 0px 1px 1px silver;
	opacity:0.6;
	-moz-opacity:0.6;
	-webkit-opacity:0.6;
	color:#222;
	position:absolute;
	top:15px;
	left:40px;
	font-size:340%;
}
#content p{
	font-family: 'Loved by the King', cursive;
	text-indent:30px;
	position:absolute;
	top:90px;
	line-height: 1.3em;
	font-size:140%;
	text-align:justify;
	left:120px;
	width:610px;
	margin-left:10px;
}
#content .start{
	margin:290px 0 0 660px;
}
#timer{
	position:absolute;
	top:400px;
	left:100px;
	text-shadow: 8px 4px rgba(0,0,0,0.2);
	font-size:600%;
	opacity:0.4;
	font-family: 'astonishedregular';
	text-align:right;
}
.start{
	position:absolute;
}
#menu2{
	width:100%;
	margin-top:20px;
	position:absolute;
	right:55px;
	background-color:red;
	width:0px;
}
.but{
	width:45px;
	height:30px;
	padding-top:4px;
	text-align:center;
	position:relative;
	color:rgba(0,0,0,0.8);
	margin-bottom:10px;
	margin-left:5px;
	font-weight:900;
	border-radius:6px;
	font-size:150%;
	bottom:15px;
	box-shadow: inset 0.0em 0.2em 0 rgba(0,0,0,0.3);
	right:0px;
	border:2px solid rgba(0,0,0,0.6);
}
.but:active{
	bottom:13px;
	left:1px;
}


.r{
	background-color:rgba(255,101,44,0.8);
}
.r:hover{
	background-color:rgba(255,101,44,1.4);
	/*box-shadow: 0px 0px 1pt 1pt #FF652C;*/
}
.g{
	background-color:rgba(255,230,44,0.8);
}
.g:hover{
	/*box-shadow: 0px 0px 1pt 1pt #FFE62C;*/
	background-color:rgba(255,230,44,1.4);
}
.disabled:active{
	left:0px;
	bottom:15px;
}
.disabled{
	background-color:rgba(50,50,50,1.8);
	opacity:0.6;
}
.b{
	background-color:rgba(64,131,255,0.8);
}
.b:hover{
	background:rgba(64,131,255,1.4);
	/*box-shadow: 0px 0px 1pt 1pt #4083FF;*/
}

#tooltip{
	position:absolute;
	bottom:0px;
	text-align:center;
	height:25px;
	color:white;
	left:30%;
	padding-top:5px;
	width:500px;
	background-color:black;
	border-radius:10px 10px 0 0;
}

.right_men{
	position:absolute;
	right:0px;
	z-index:2;
	top:0px;
	width:60px;
	border-radius:0 0 0 10px;
	box-shadow: 0px 2px 3pt 3pt rgba(0,0,0,0.6);
	background:rgba(0,0,0,0.2);
}
.logo{
	background:url('../img/logo.png');
	background-size:50px 50px;
	position:absolute;
	z-index:5;
	top:0px;
	right:5px;
	margin:5px 0;
	width:50px;
	height:50px;
}
.main{
	width:800px;
	margin:10px;
	padding:0.01em 10px;
	height:300px;
	background:rgba(0,0,0,.3);
	border:3px solid rgba(0,0,0,.15);
	border-radius:5px;
}
.main p{
	width:500px;
	float:left;
}
.main .button{
	margin-top:180px;
	margin-left:-80px;
}
#mainCanvas{
	position:absolute;
	/*top:-10px;*/
}
.tiny{
	transform: scale(0.5,0.5);
	-ms-transform: scale(0.5,0.5); /* IE 9 */
	-webkit-transform: scale(0.5,0.5); /* Safari and Chrome */
	position:absolute;
	left:-36px;
}
.small{
	transform: scale(0.8,0.8);
	-ms-transform: scale(0.8,0.8); /* IE 9 */
	-webkit-transform: scale(0.8,0.8); /* Safari and Chrome */
	position:relative;
	left:5px;
}
input.switch:empty
{
	margin-left: -99999px;
}
input.switch:empty ~ label
{
	position: relative;
	float: left;
	line-height: 1.6em;
	margin: -0.7em 0;
	cursor: pointer;
	text-indent: -9999px; 
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
input.switch:empty ~ label:before, 
input.switch:empty ~ label:after
{
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: ' ';
	width: 3.6em;
	background-color: #803316;
	border-radius: 1.3em;
	-webkit-transition: all 100ms ease-in;
	transition: all 100ms ease-in;
}

input.switch:empty ~ label:before{

	border:1px solid rgba(0,0,0,0.6);
	box-shadow: inset 0 0.2em 0 rgba(0,0,0,0.3);
}
input.switch:empty ~ label:after
{
	width: 1.4em;
	height: 1.4em;
	top: -0.12em;
	bottom: 0.1em;
	margin-left: 0.0em;
	background-color: #fff;
	border-radius: 3.15em;
	box-shadow:0px 0px 0 rgb(231,231,231),1px 1px 0 rgb(216,216,216),2px 2px 0 rgb(202,202,202),3px 3px 0 rgb(187,187,187);
}

input.switch:checked ~ label:before
{
	background-color: #4083FF;
}

input.switch:checked ~ label:after
{
	margin-left: 1.8em;
}
#fs{
	margin:-10px 0 20px 20px;
}
#flash{
	-webkit-transition: all 500ms ease-in;
	width:100%;
	opacity:0.5;
	-webkit-opacity:0.5;
	height:100%;
	background-color:silver;
	z-index:51;
	display:none;
}
#cursor{
width:300px;
height:200px;
position:absolute;
display:none;
bottom:20px;
right:49px
}

.key:first-child{
	margin-left:92px;
	margin-bottom:10px;
}
.key:after{
	position:absolute;
	content: ' ';
	top:0px;
	left:5px;
	border-radius:5px 5px 10px 10px;
	background:silver;
	width:70px;
	border:1px solid rgba(0,0,0,0.8);
	z-index:0;
	height:60px;

}
.up{
	transform:rotate(-90deg);
-ms-transform:rotate(-90deg); /* IE 9 */
-webkit-transform:rotate(-90deg); /* Safari and Chrome */
left:5px;
}
.left{
	transform:rotate(-180deg);
-ms-transform:rotate(-180deg); /* IE 9 */
-webkit-transform:rotate(-180deg); /* Safari and Chrome */
}
.down{
	transform:rotate(90deg);
-ms-transform:rotate(90deg); /* IE 9 */
-webkit-transform:rotate(90deg); /* Safari and Chrome */
left:5px;
}
.right{
left:8px;
}
.key img{
	margin-left:10px;
	margin-top:3px;
	position:relative;
	opacity:0.7;
	z-index:1;
}
.key{
	background:grey;
	border-radius:5px;
	position:relative;
	width:80px;
	margin-right:6px;
	display:inline-block;
	border:1px solid rgba(0,0,0,0.6);
	height:65px;
}
#modal_1{
	display:block;
}
#modal_2{//settings
	display:none;
}
.inner{
	height:250px;
	position:absolute;
	top:100px;
	left:130px;
	width:600px;
}
.tabs{
	width:20%;
	border-right:1px solid;
	height:100%;
	float:left;
}
.tabs ul{
	margin-top:30px;
	list-style-type: none;
	position:relative;
}
.tabs li{
	text-align:center;
	margin-left:-50%;
	width:150%;
	display:block;
}
.tabs li:hover{
	background:red;
}
.pane{
	height:100%;
	width:80%;
	float:right;
}
#modal_3{
	display:none;
}
