body{
	background-image:url('../img/bg.png');
	margin:0px;
	font-family: sans-serif;


}
#header{
	width:100%:
	position:absolute;
	top:0px;
	height:30px;
	background-color:grey;
}
#header .title{
	margin:5px 0 0 15px;
	font-size:160%;
	font-weight:bold;
}
canvas{
margin:20px 0 0 15px;
}
